blinker==1.8.2
click==8.1.7
factory_boy==3.3.1
Faker==29.0.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.1.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
pytest==8.3.3
python-dateutil==2.9.0.post0
six==1.16.0
SQLAlchemy==2.0.35
sqlalchemy-stubs==0.4
typing_extensions==4.12.2
Werkzeug==3.0.4
black==24.10.0
flake8==7.1.1
flake8-bugbear==24.8.19
flake8-pie==0.16.0
isort==5.13.2
mypy==1.12.0  
